<div style="display: flex">
    <div>
        {{> navigation}}
    </div>
    <div>
        <h1>Article</h1>
        <p>Задача организации, в особенности же новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. Товарищи! реализация намеченных плановых заданий позволяет выполнять важные задания по разработке модели развития. Таким образом консультация с широким активом позволяет выполнять важные задания по разработке направлений прогрессивного развития. Товарищи! сложившаяся структура организации требуют определения и уточнения форм развития.</p>
    </div>
</div>