<div><a href="/front/ships">Корабли</a></div>
<div style="width: 300px"><a href="/front/marines">Десантники (о которых известно сервису)</a></div>
<div><a href="/front/add">Пункт управления кораблями</a></div>